{% extends "base.html" %}


{% block main %}

{% if user.is_authenticated %}
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
  <script>
  $(function() {
    $( "#startdate" ).datepicker();
    $( "#enddate" ).datepicker();
  });
  </script>
</head>
<h1>CURRENT DRILLS:</h1>
{% for drill in all_drills %} 
<h2>Drill Name: {{drill.name}}</h2>
Start Date:  {{drill.sdate}} <br>
End Date:  {{drill.edate}} <br>
Video Link:  {{drill.link}} <br>
Total Reps:  {{drill.total}}<br>
<br>
{% endfor %} 

{% else %}
{% endif %}


{% endblock %}
